.globalnav-list {
  cursor: default;
  margin: 0 -8px;
  width: auto;
  height: 44px;
  display: flex;
  justify-content: space-between;
  -webkit-user-select: none;
  user-select: none;
  list-style: none;
  background-color: rgba(22, 22, 23, 0.8);
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

/* --r-globalnav-color: rgba(255, 255, 255, .8); */

.tab-text {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}

.a {
  color: rgba(255, 255, 255, 0.8);
}
