body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: linear-gradient(to right, #3c96d8, #e54e40);
  width: 100vw;
  height: 100vh;
}

button {
  height: 40px;
  background-color: white;
  border: 2px solid #2f96da;
  border-radius: 5px;
  color: #2f96da;
}
